   /* Global  */
* {
margin: 0px;
padding: 0px;
}
body {
min-height: 100vh;
display: flex;
flex-direction: column;
}
/* Start Home Page */

/* Start navbar */
.navbar{
    background-color: #03070b;
} 
.navbar-nav .links {
   
    color: white;
}
.navbar-nav .links:hover  , .navbar-nav .links.active{
    color: #28a745;
    border-bottom: 3px solid #28a745;
    padding-bottom: 5px;

}
.navbar-toggler {
    background-color: #ffffff !important;
    border: 1px solid #fff !important;
    border-radius: 4px !important;
    padding: 6px 10px !important;

}


/* End navbar */

/* Start Intro */

.forma-intro {
    width: 100%;
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 60px 7%;
    box-sizing: border-box;

    background-color: #f7f7f7;
}

.intro-text {
    width: 45%;
}

.intro-small {
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 15px;
    color: #777;
}

.intro-text h1 {
    font-size: 55px;
    margin: 0;
    letter-spacing: 2px;
}

.intro-text h2 {
    font-size: 25px;
    margin: 10px 0 25px;
    font-weight: normal;
}

.intro-description {
    max-width: 450px;

    font-size: 16px;
    line-height: 1.8;

    color: #666;

    margin-bottom: 30px;
}
.intro-btn {
    display: inline-block;

    padding: 14px 30px;

    background-color: #000;
    color: #fff;

    text-decoration: none;

    font-size: 14px;
    letter-spacing: 1px;

    transition: 0.3s;
}

.intro-btn:hover {
    background-color: #978f55;
}
.intro-image {
    width: 45%;
    height: 420px;
    overflow: hidden;
    border-radius: 0 60px 0 60px;
}

.intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s;
}

.intro-image img:hover {
    transform: scale(1.1);
}
/* End Intro */

/* Start Arivalls  */
.linkArivall{
    text-decoration: none;
    opacity: 65%;
    color: #000;
}
.linkArivall:hover {
    text-decoration: underline;
    opacity: 100%;
}

.product-card {
    transition: transform 0.3s ease;
  }
  .product-img-container {
    overflow: hidden;
  }
  .product-img-container img {
    transition: transform 0.4s ease; 
  }

  .product-card:hover .product-img-container img {
    transform: scale(1.08);
  }
  .fs-7 {
    font-size: 0.75rem;
  }

/* End Arivalls  */

/* Start Third section */

.category-section {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;

    display: flex;
    gap: 15px;

    min-height: 500px;
}



.category-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}



.big-card {
    width: 70%;
    height: 500px;
}

.side-cards {
    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.small-card {
    height: calc(50% - 7.5px);
}

.category-card img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    transition: transform 0.5s ease;
}

.category-card::after {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.25);
}

.card-content {
    position: absolute;

    left: 25px;
    bottom: 25px;

    z-index: 2;

    color: white;
}

.big-card h2 {
    font-size: 28px;
    margin: 0 0 8px;
}

.small-card h3 {
    font-size: 18px;
    margin: 0 0 5px;
}

.card-content p {
    font-size: 11px;
    letter-spacing: 2px;

    margin: 0;
}

.category-card:hover img {
    transform: scale(1.05);
}

/* End Third section */

/* Start Footer  */
.footer {
margin-top: auto;
background-color: black;
color: white;
}

.footer-content {
display: flex;
justify-content: space-between;
padding: 30px 50px;
}

.footer-content div {
display: flex;
flex-direction: column;
gap: 10px;
}

.footer-content h2 {
font-size: 20px;
}

.footer-content h3 {
font-size: 14px;
}

.footer-content p {
color: gray;
font-size: 14px;
}

.footer-content a {
color: gray;
text-decoration: none;
font-size: 14px;
}

.bottom {
border-top: 1px solid gray;
text-align: center;
padding: 10px 0px;
}

.bottom p {
color: gray;
font-size: 12px;
}

/* End Footer  */

/* End Home Page */

/* Start Categories Page */

.form-check-input {
    border-color: black;
    box-shadow: none !important;
  
}

.form-check-input:checked {
    background-color:#28a745;
    border-color: black;
}
/* End Categories Page */


/* Start Media */

@media (max-width: 768px) {

    .forma-intro {
        flex-direction: column;

        text-align: center;

        padding: 40px 25px;
    }

    .intro-text {
        width: 100%;
    }

    .intro-text h1 {
        font-size: 40px;
    }
    .intro-description {
        margin: 20px auto 30px;
    }
    .intro-image {
        width: 100%;
        height: 350px;
        margin-top: 40px;
    }

        .category-section {
        flex-direction: column;
        width: 92%;
    }

    .big-card {
        width: 100%;
        height: 350px;
    }

    .side-cards {
        width: 100%;
        flex-direction: row;
    }

    .small-card {
        width: 50%;
        height: 220px;
    }

    .big-card h2 {
        font-size: 22px;
    }
}

/* End Media */

/* Start Dark Mode */


body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}


body.dark-mode .navbar {
    background-color: black;
}

body.dark-mode .forma-intro {
    background-color: #1a1a1a;
}

body.dark-mode .intro-small,
body.dark-mode .intro-description {
    color: #cccccc;
}

body.dark-mode .intro-btn {
    background-color: #f1f1f1;
    color: black;
}

body.dark-mode .card-body h3,
body.dark-mode .product-card h3,
body.dark-mode .text-dark {
    color: #f1f1f1 !important;
}

body.dark-mode .bg-light {
    background-color: #1e1e1e !important;
}

body.dark-mode .linkArivall {
    color: #f1f1f1;
}


.dark-mode-toggle {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: #ffffff;
}

/* End Dark Mode */